TOKEN=
CDN_URL=
API_URL=
API_TOKEN=

DEVELOPMENT=true
OWNERS="[311874717504110593, 393835722454597633, ...]"

ADD_BOT_LINK=https://discord.com/api/oauth2/authorize?client_id={CLIENT_ID}&permissions=2134764791&scope=bot
SUPPORT_INVITE=https://discord.gg/bjh8G3b
